html, body {
    margin:0px;
    padding:0px;
}

body {
    font-family: Arial;
    color: #666666 !important;
}

.required-field {
    color: #d00;
    content: "*";
}

@media print {
    .topo .menu, .topo .menu-secundario, #imprimir {
        display: none;
    }
}


/*************************************************************************/
/***** INICIO BLOCO BARRARS
/************************************************************************/

.gray-bar {
    background-image: url("../imgs/gray_bar.gif");
    background-repeat: no-repeat;
    background-size: 690px 8px;
    -ms-background-position-y: 15px;
    background-position-y: 15px;
    -ms-background-position-x: 40px;
    background-position-x: 40px;
}


/*************************************************************************/
/***** FIM BLOCO BARRAS
/************************************************************************/

/*************************************************************************/
/***** INICIO BLOCO COR FUNDO
/************************************************************************/

.grey-background {
    background-color: #cccccc;
}

.green-background{
    background-color:#5cb85c;
}

/*************************************************************************/
/***** FIM BLOCO COR FUNDO
/************************************************************************/

/*************************************************************************/
/***** INICIO BLOCO COR
/************************************************************************/

.grey-color {
    color: #cccccc;
}

.green-color {
    color: #5cb85c;
}

.blue-color {
    color: #1C7395;
}

/*************************************************************************/
/***** FIM BLOCO COR
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO CLEAR
/************************************************************************/


.width-50 {
    width: 50% !important;
}


/*************************************************************************/
/***** FIM BLOCO CLEAR
/************************************************************************/

/*************************************************************************/
/***** INICIO BLOCO SEPARADORES
/************************************************************************/


.separador-80h {
    width: 80px;
}

.separador-100h {
    width: 100px;
}

.separador-20v {
    height: 20px;
}


/*************************************************************************/
/***** FIM BLOCO SEPARADORES
/************************************************************************/

/*************************************************************************/
/***** INICIO BLOCO PADDINGS
/************************************************************************/


.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-50 {
    padding-top: 50px;
}


.padding-bottom-20 {
    padding-bottom: 20px;
}


/*************************************************************************/
/***** FIM BLOCO PADDINGS
/************************************************************************/



/*************************************************************************/
/***** INICIO BLOCO BOTOES
/************************************************************************/

.btn-blue {
    background-color: #07668D;
    color: #ffffff;
}

.btn-blue:hover {
    background-color: #043D55;
    color: #FFFFFF;
}

.btn-grey {
    background-color: #999999;
    color: #ffffff;
}

.btn-grey:hover {
    background-color: #6C6C6C;
    color: #FFFFFF;
}

.btn-green {
    background-color: #98C242;
    color: #ffffff;
}

.btn-green:hover {
    background-color: #6F8D2E;
    color: #FFFFFF;
}



/*************************************************************************/
/***** FIM BLOCO BOTOES
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO TOPO
/************************************************************************/

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    background: url("../imgs/shadow.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
}

.topo .logo img {
    border: 0;
}

.topo .menu {

}

.topo .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topo .menu ul li {
    float: left;
    padding: 0 15px;
}

.topo .menu ul .first {
    margin-top: 10px;
}


.topo .menu ul li a {
    display: inline-block;
    width: 103px;
    text-align: center;
    padding: 10px 8px;
    color: #1C7395;
    font-weight: bold;
    font-size: 14px;

}

/*************************************************************************/
/***** FIM BLOCO TOPO
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO CONTEUDO
/************************************************************************/

.conteudo {
    padding-top: 40px;
    padding-bottom: 40px;
}

.conteudo .texto {
    width: 40%;
    color: #666666;
    margin-right: 30px;
}

.conteudo .texto p {
    margin-left: 15px;
}

.conteudo .form {
    width: 40%;
    color: #666666;
    margin-left: 40px;
}

.conteudo .separador {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.conteudo .separador div img {
    padding: 0 20px;
}

.conteudo .divisor {
    width: 1px;
    border-right: solid 1px #8c8c8c;
}

.conteudo .form .formulario {

}
/*************************************************************************/
/***** FIM BLOCO CONTEUDO
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO CABEÇALHO
/************************************************************************/
.cabecalho {
    position: relative;
    z-index : 1;
    margin-bottom: 30px;
}

.cabecalho:before {
    content : "";
    position: absolute;
    left: 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;
    border-bottom:1px solid #000000;
}

.cabecalho-solicitacao {
    position: relative;
    z-index : 1;
    margin-bottom: 30px;
}


/*************************************************************************/
/***** FIM BLOCO CABEÇALHO
/************************************************************************/

/*************************************************************************/
/***** INICIO BLOCO PROGRESSO
/************************************************************************/

.progresso {
    height: 70px;
}

.progresso .progress {
    height: 10px;
    margin-bottom: 10px !important;
}

.progresso .progress .caption {
    position:absolute;
    margin-top:-10px;
    z-index:1;
    height:30px;
    width:30px;
    border-radius:25px;
    text-align: center;
    vertical-align: middle;
}

.progresso .progress .caption span {
    color: #FFFFFF;
    font-size: 20px;
}

.progresso .progress .zero {
    left: 0%;
}

.progresso .progress .one {
    left:33%;
}

.progresso .progress .two {
    left:66%;
}

.progresso .progress .three {
    left:96.5%;
}

.progresso .zero-text {
    left: -4%;
}

.progresso .one-text {
    left:29%;
}

.progresso .two-text {
    left:62%;
}

.progresso .three-text {
    left: 93%;
}

.progresso .position {
    position: absolute;
    width: 110px;
}

/*************************************************************************/
/***** FIM BLOCO PROGRESSO
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO PROGRESSO SOLICITACAO
/************************************************************************/

.progresso-solicitacao {
    height: 190px;
}

.progresso-solicitacao .progress {
    height: 10px;
    margin-bottom: 10px !important;
}

.progress-bar-solicitacao {
    background-color: #1C7395;
}

.progresso-solicitacao .progress .caption,
.progresso-solicitacao .progress .caption-inative {
    position:absolute;
    margin-top:-42px;
    z-index:1;
    text-align: center;
    vertical-align: middle;
}

.progresso-solicitacao .progress .caption-inative {
    margin-top:-31px !important;
}

.progresso-solicitacao .progress .caption-inative img {
    width: 73px;
    height: 73px;
}


.progresso-solicitacao .progress .zero {
    left: -3%;
}

.progresso-solicitacao .progress .one {
    left:22%;
}

.progresso-solicitacao .progress .two {
    left:47%;
}

.progresso-solicitacao .progress .three {
    left:72%;
}

.progresso-solicitacao .progress .four {
    left:97%;
}

.progresso-solicitacao .zero-text {
    left: -5%;
}

.progresso-solicitacao .one-text {
    left:20%;
}

.progresso-solicitacao .two-text {
    left:45%;
}

.progresso-solicitacao .three-text {
    left: 71%;
}

.progresso-solicitacao .four-text {
    left: 96%;
}


.progresso-solicitacao .one-text-inative {
    left:19%;
}

.progresso-solicitacao .two-text-inative {
    left:44%;
}

.progresso-solicitacao .three-text-inative {
    left: 69%;
}

.progresso-solicitacao .four-text-inative {
    left: 94%;
}

.progresso-solicitacao .position {
    position: absolute;
    width: 120px;
}

.progresso-solicitacao .bold {
    font-weight: bold;
}

/*************************************************************************/
/***** FIM BLOCO PROGRESSO SOLICITACAO
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO CARTEIRA
/************************************************************************/

.cart {
    position: relative;
    width: 415px;
    height: 276px;
    background-image: url("../imgs/cart_estudante.png");
    background-repeat: no-repeat;
}

.cart div {
    color: #000000;
}

.cart #cart-button {
    position: absolute;
    left: 28px;
    top: 110px;
}

.cart #cart-picture {
    position: absolute;
    left: 24px;
    top: 50px;
    width: auto;
    height: 142px;
}

.cart #cart-nome {
    font-weight: bold;
}

.cart #picture {
    width: auto;
    height: 142px;
    cursor: pointer;
}

.cart .identification {
    position: absolute;
    top: 45px;
    left: 141px;
}

.cart #cart-validade {
    position: absolute;
    top: 160px;
    left: 308px;
    text-align: center;
}

.cart-text-alert {
    margin-left: 90px !important;
}

/*************************************************************************/
/***** FIM BLOCO CARTEIRA
/************************************************************************/



/*************************************************************************/
/***** INICIO BLOCO CARTEIRA PROFESSOR
/************************************************************************/

.cart-professor {
    position: relative;
    width: 425px;
    height: 264px;
    background-image: url("../imgs/cart_professor.png");
    background-repeat: no-repeat;
}

.cart-professor div {
    color: #000000;
}

.cart-professor #cart-button {
    position: absolute;
    left: 40px;
    top: 110px;
}

.cart-professor #cart-picture {
    position: absolute;
    left: 34px;
    top: 53px;
    width: 111px;
    height: 148px;
}

.cart-professor #picture {
    width: 111px;
    height: 148px;
    cursor: pointer;
}


.cart-professor #cart-nome {
    position: absolute;
    left: 100px;
    top: 100px;
    text-align: right;
    width: 300px;
}

.cart-professor #cart-instituicao {
    position: absolute;
    width: 250px;
    left: 150px;
    top: 137px;
    line-height: 1.2;
    text-align: right;
    font-size: 10px;
}


.cart-professor #cart-nascimento {
    position: absolute;
    left: 300px;
    top: 200px;
    text-align: right;
    width: 100px;
}

.cart-professor #cart-cpf {
    position: absolute;
    left: 300px;
    top: 172px;
    text-align: right;
    width: 100px;
}

.cart-professor #cart-validade {
    position: absolute;
    top: 230px;
    left: 330px;
}

.cart-text-alert {
    margin-left: 90px !important;
}

/*************************************************************************/
/***** FIM BLOCO CARTEIRA PROFESSOR
/************************************************************************/



/*************************************************************************/
/***** INICIO BLOCO MODAL CAPTURA
/************************************************************************/

#cropTool {
    padding: 0px;
    margin: 0px;
    background: rgba(255,255,255, 0.4);
    border: 1px dashed #ccc;
    width: 133px;
    height: 178px;
    position: absolute;
}

#divSnapshot {
    width: 266px;
    height: 355px;
}

#divSnapshot img {
    height: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
/*************************************************************************/
/***** FIM BLOCO MODAL CAPTURA
/************************************************************************/


/*************************************************************************/
/***** INICIO BLOCO DOCUMENTO
/************************************************************************/


.documento {
    width: 272px;
}

.thumbnail, .thumbnail img {
    display: initial !important;
}

.thumb {
    padding: 5px 5px;
    border: 1px solid #a94442 !important;
    background-color: #FFFFFF !important;
}

/*************************************************************************/
/***** FIM BLOCO DOCUMENTO
/************************************************************************/



/*************************************************************************/
/***** INICIO BLOCO PAGAMENTO
/************************************************************************/


.valores-texto {
    font-size: 18px;
    color: #333333;
    margin-bottom: 5px;
}

.valores-border {
    border-bottom: solid 1px #000000;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*************************************************************************/
/***** FIM BLOCO PAGAMENTO
/************************************************************************/


.titulo-detalhes {
    position: relative;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

.titulo-detalhes h4 {
    font-weight: bold;
    font-size: 25px;
}

.titulo-detalhes:before {
    content : "";
    position: absolute;
    bottom  : 0;
    height  : 1px;
    width   : 90%;
    border-bottom:1px solid #CCCCCC;
}

#loading {
    margin-top: 24px;
}

#loading img{
    width: 32px;
    height: 32px;
}

#loading-small img {
    width: 24px;
    height: 24px;
}