<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}
<html>
    <body>
        <script src="{{"/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl}}"></script>
        <script src="{{"/node_modules/popper.js/dist/umd/popper.min.js" | prepend: site.baseurl}}"></script>
        <script src="{{"/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl}}"></script>
    </body>
</html>